<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= project.code %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= project.details %>
  </p>

</div>
