<nav class="column is-2 is-fullheight is-hidden-mobile">
  <div class="menu p-1">
    <p class="menu-label">Administration</p>
    <ul class="menu-list">
      <li><%= link_to t('home'), home_index_path, class: active_menu_class("home") %></li>
      <li><%= link_to t('rooms'), chat_rooms_path, class: active_menu_class("chat/rooms") %></li>
      <li><%= link_to t('projects'), projects_path, class: active_menu_class("projects") %></li>
    </ul>
  </div>
</nav>
